body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
p{
  font-family: "Lucida Sans";
}
ul{
  font-size: 87%;
  font-family: "Lucida Sans";
}

h2{
  font-size: 90%;
  font-family: "Lucida Sans";
}

h4{
  font-size: 80%;
  font-family: "Lucida Sans";
}